<div class="container mt-5 py-5">
  <div class="row mt-5">
    <!--左側-->
    <div class="col-md-6">
       
    </div>

    <!--右側-->
    <div class="col-md-6 px-5">
      <p class="name"><ruby>川内　聖史<rt>かわうち　さとし</rt></ruby></h2>
      <p class="title">住所</p>
      <p>福岡県福岡市在住</p>
      <p class="title">年齢</p>
      <p>21歳</p>
      <p class="title">GitHub Account</p>
      <p>edisnirevir2963@gmail.com</p>
      
    </div>
  </div>
</div>

<div class="container">

  <ul class="nav nav-tabs">
     <li class="nav-item"><a class="nav-link active" href="#study" data-toggle="tab">学習状況</a></li>
     <li class="nav-item"><a class="nav-link" href="#career" data-toggle="tab">経歴</a></li>
     <li class="nav-item"><a class="nav-link" href="#qualification" data-toggle="tab">資格</a></li>
     <li class="nav-item"><a class="nav-link" href="#self_pr" data-toggle="tab">自己PR</a></li>
  </ul>
  <div class="tab-content py-4">
    <div id="study" class="tab-pane active">
      <table class="table table-striped container">
        <thead>
          <tr class="row">
            <th class="col-md-2" scope="col">学習テーマ</th>
            <th class="col-md-10" scope="col">学習状況</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            <th class="col-md-2" scope="row">HTML,CSS</th>
            <td class="col-md-10"><p>chromのDevToolを利用してデザインの微調整が出来る。</p>
            <p>id や classを付与して目的のスタイルを充てることができる。</p></td>
          </tr>
          <tr class="row">
            <th class="col-md-2" scope="row">Ruby</th>
            <td class="col-md-10">Rubyで書かれたソースを読むことができる。オブジェクト指向び概要理解。</p>
          </tr>
           <tr class="row">
            <th class="col-md-2" scope="row">Rails</th>
            <td class="col-md-10">WEBアプリを作る上において基本的な流れを理解しました。</p>
            <p>マイグレーション、ルーティング、パーシャル、関数の自作、モデルのリレーション等</p>
          </tr>
          
           <tr class="row">
            <th class="col-md-2" scope="row">git</th>
            <td class="col-md-10">
            <p>gitのコマンドの基礎知識。add,commit,push , status, logの確認</p>
          </tr>
          
           <tr class="row">
            <th class="col-md-2" scope="row">JavaScript</th>
            <td class="col-md-10">
            <p>DOM操作,jQqueryの機能をを調査して実装できます。</p>
          </tr>
          
           <tr class="row">
            <th class="col-md-2" scope="row">その他</th>
            <td class="col-md-10">
            <p></p>
          </tr>
        </tbody>
      </table>
     </div>
     <div id="career" class="tab-pane">
        
     </div>
     <div id="qualification" class="tab-pane">
        <p>FP3級</p>
        <p>普通自動車運転免許</p>
        <p>MOS（Excel2016）</p>
        <p>MOS(Excel2016 Expert)</p>
        <p>MOS(PowerPoint 2016)</p>
        
     </div>
     <div id="self_pr" class="tab-pane">
        <p>コロナ期間の自粛を期にプログラミングの需要に気付き、オンラインスクールに通い始めました。Railsとそれに伴う環境について勉強しました。</p>
        <p>現在も、自分で簡単なWEBアプリを作っています。</p>
     </div>
  </div>
</div>
