<div class="goal-title-area px-3">
  <h1>Todo plus</h1>
  
  <%= link_to new_goal_path, title: "新しい目標", class: "btn p-0 text-dark pr-5", remote: true do %>
    <i class="fas fa-plus align-middle pr-1"></i><span class="align-middle">目標　設定</span>
  <% end %>
  <%= link_to new_tag_path, title:"新しいタグ", class: "btn p-0 text-dark", remote: true do %>
   <i class="fas fa-plus align-middle pr-1"></i><span class="align-middle">タグ　作成</span>
  <% end %>
  
</div>
<div class="pt-3 p-1 text-nowrap goal-index-area" id="goalsIndex">
  <%= render @goals %>
</div>